node_modules/
environment.json
lib/
share/
venv/
.env
.pypath/
project.json
up.json
.cache/
marblecutter.egg-info/
*.pyc
*.tif
staging.env
production.env
out.zip
package-lock.json
.venv/
.vscode/
.aws-sam/
packaged.yaml
